<div class="container-fluid" style="height:770px">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="height:50px;background-color:DarkSlateGray">
  <a class="navbar-brand" href="#">
    <img src="assets\img\Ramphal_new.png" alt=" " href="#" width="100" height="50">
  </a>
  <a class="navbar-brand" href="#">Hybrid Message Switching System (HMSS)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">

  </div>

  <ul class="nav navbar-nav navbar-right">


    <span class="fa-stack fa-5x has-badge" data-count="5">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
    </span>



    <a class="" data-toggle=" " style="padding-top:0px;color:white;">
      <i class="material-icons " style="margin-left:-52px">notifications</i>
      <span class="badge " style="color:red"></span>


    </a>



    <a class="" data-toggle=" " style="padding-top:0px;color:white">
      <i class="material-icons">person</i>

    </a>

  </ul>


</nav>





<!-- <div class="text-center"style="margin-top:120px">
  <div class="" style="border:1px solid gray ">
  <form class="form-signin" action="/action_page.php" [formGroup]="authForm" (ngSubmit)="submitForm()">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <fieldset class="form-group">
    <td style="margin-left:120px"> <i class="material-icons">account_circle </i></td> 
       <label for="username" class="sr-only">User Name</label> -->
<!-- <td >  <input type="text" formControlName="username" id="username" class="form-control" style="width:200px" placeholder="User Name"
        required autofocus></td> 
    </fieldset>
    <fieldset class="form-group">
      <td>  <i class="material-icons">vpn_key</i></td> 
      <label for="inputPassword" class="sr-only">Password</label> -->
<!-- <td>  <input type="password" formControlName="password" id="inputPassword" style="width:200px" class="form-control" placeholder="Password"
        required></td> 
    </fieldset>
    <button class="btn btn-small btn btn-info pull-xs-right" style="margin-left:40px" [disabled]="!authForm.valid" type="submit">
      Sign In
    </button>
     <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
<!-- <p class="mt-5 mb-3 text-muted">&copy; Ramphal Technologies 2017-2018</p>
  </form>
</div>
</div>  -->




<div class="main-content bg_img" style="height:100%;">

<div class="row " >

<div class="row1">
<img class=" avator" src="assets\img\avatar4.png"  >
    <h2 class="text-xs-center" style="margin-left:130px;color:DarkSlateGray;font-family: monospace">Login</h2>
    <p class="text-xs-center"></p>

    <form action="" [formGroup]="authForm" (ngSubmit)="submitForm()" style="margin-left:35px">
      <p>User Name</p>
      <input type="text" formControlName="username" name="username" placeholder="Enter user name"class="form-control" autofocus autocomplete="off">
      <p >password </p>
      <input type="password" formControlName="password" name="password" placeholder="Enter password" class="form-control">
      <button type="submit" value="Login">sign in</button>
     
    </form>
  </div>
  </div>

</div>



<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark" style="height:20px;background-color:DarkSlateGray">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" style="margin-right:1100px" href="#">
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="#">&copy; Ramphal Technologies 2017-2018</a>
      </li>
    </ul>
  </div>
</nav>
</div>