.example-container {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-column-select {
    overflow: visible;
  }
  