
/* .z{
    border:1px solid gray;
    width:800px;
 
    margin-top: 2px;
    /* background-color:#EEEEEE; */

.qqq{
    margin-left: -36px;
    background-color: gainsboro;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 2px;
   
    
}
.qqq2{
    margin-left: -42px;
    background-color: gainsboro;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 2px;
   
    
}
.sss{

    margin-left: 0px;
    background-color: gainsboro;
    margin-top: 2px;
   

}
.ppp{

    margin-left: -36px;
    background-color: gainsboro;
    margin-top: 2px;
    

}
.eee{
    
        margin-left: -65px;
        background-color: gainsboro;
        margin-top: 2px;
        
        
    }
    .www{
        
            margin-left: -10px;
            background-color: gainsboro;
            margin-top: 2px;
 
        }
