

<div class="container-fluid topnav " style="height: 30px;margin-top:35px;background-color:olive;width:1195px;margin-left:-20px">
  <div class="row" style="margin-top:35px;margin-left:-35px;width:1180px;">
    <nav class="navbar navbar-expand-md" style=" padding-left: 25px;padding-bottom: 3px; margin-top: -15px;">
      <div class="navbar-collapse offcanvas-collapse topnav" id="navbarsExampleDefault">
        <ul class="nav nav-pills ">
          <li *ngFor="let menuItem of menuItems" class="nav-item ">
            <a class="nav-link  rounded-0"  data-toggle="pill" role="pill" aria-selected="true" [routerLink]="[menuItem.path]">
              <i class="material-icons">
                <span >{{menuItem.icon}}</span>
              </i>
              <span > {{menuItem.title}} </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>