<nav class="navbar navbar-expand-md fixed-top " style="height:50px;background-color:DarkSlateGray;">
    <a class="navbar-brand" href="/navigation">
        <img src="assets\img\Ramphal.png" alt=" " href="#" width="100" height="50">
    </a>
    <a class="navbar-brand" style="color:white">Hybrid Message Switching System (HMSS)</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    </div>
    <!--<ul class="nav navbar-nav navbar-right"style="padding-right:5px">
            
       <li> 
            <span class="fa-stack fa-5x has-badge" data-count="10"> </span>
           <a class="dropdown nav-item nav -link " data-toggle="dropdown "style="padding-top:5px;color:white; cursor:pointer;">
             <i class="material-icons " style="margin-left:-52px">notifications</i>
             <span class="badge " style="color:red"></span>
             
             <ul class="dropdown-menu">
                 <li>
                    <a class="dropdown-item" href="#">Mike john responded to your email</a>
                 </li>
                 <li>
                    <a class="dropdown-item" hrerf="#">you have 5 new tasks</a>
                 </li>
                 <li>
                    <a class="dropdown-item" href="#">you're now friend with Andrew</a>
                 </li>
             </ul>
            </a>
        </li>

       <li>  
           <a class="dropdown " data-toggle="dropdown" style="cursor: pointer;padding-top:5px;color:white">
            <i class="material-icons"> account_circle</i>         
           <ul class="dropdown-menu"style="margin-left:-120px;width:150px ;padding:15px">                                            
                <li class ="dropdown-submenu " >
                    <a  href="#" id="id1">RoleSwitch</a>
                    <ul class="dropdown-menu " style="cursor:pointer; padding-left:10px;margin-right:-17px">

                        <li *ngIf=roleSwitch>
                            <a href="javascript:void(0);" (click)="changeRole('SUPERVISOR')">SUPERVISOR</a>
                        </li>        
                        <li > <a href="javascript:void(0);" (click)="changeRole('ATSBOOKING')">FPL(ATS)</a>
                        </li>
                                
                        <li *ngIf=roleSwitch> <a  href="javascript:void(0);" (click)="changeRole('NOTAM')">NOF(AIS)</a>
                        </li>

                    </ul>               
                </li>           
                <li *ngIf=islogin><a    href="javascript:void(0);"   (click)="logout()">Logout</a>
                </li>
                <li *ngIf=!islogin >
                    <a href="/login" id="id1">Login</a>
                 </li><div class="dropdown-divider"></div>
                <li><a  href="#" id="id1">Profile</a></li>
            </ul>
        </a>
        </li>  
    </ul>-->
    <ul class="navbar-nav navbar-right flex-row ml-md-auto d-none d-md-flex">
        <li class=" dropdown" >
            <a class="nav-item nav-link  mr-md-2" href="javascript:void(0);" id="bd-versions" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"stlyle="padding-top:5px;color:white">
                <i class="material-icons" style="color:white">notifications</i>
                <!--<span class="notification">5</span>-->
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="margin-top:-10px" >
                <a class="dropdown-item" href="javascript:void(0);">Mike John responded to your email</a>
                <a class="dropdown-item" href="javascript:void(0);">You have 5 new tasks</a>
                <a class="dropdown-item" href="javascript:void(0);">You're now friend with Andrew</a>
            </div>
        </li>
        <li class="nav-item dropdown" style="margin-bottom:12px">
            <a class="nav-item nav-link  mr-md-2" href="javascript:void(0);" id="bd-versions1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="material-icons" style="color:white">person</i>
            </a>
            <div aria-labelledby="bd-versions1" style="margin-top:-10px">
             <ul class="dropdown-menu dropdown-menu-right" role="menu" style="list-style-type:none;padding-right: 12px;">
                  <li class="dropdown-submenu "style="cursor:pointer" ><a class="test">RoleSwitch</a>
                      <ul class="dropdown-menu "style="list-style-type:none;margin-top:-3px"  >
                        <li ><a *ngIf=!roleSwitch  href="javascript:void(0);" (click)="changeRole('SUPERVISOR')">SUPERVISOR</a></li>      
                        <li ><a  *ngIf=!roleSwitch  href="javascript:void(0);" (click)="changeRole('ATSBOOKING')">FPL (ATS)</a></li>
                        <li ><a  *ngIf=!roleSwitch href="javascript:void(0);" (click)="changeRole('NOTAM')">NOF (AIS)</a></li>
                        
                     </ul>                   
                </li>
                <li ><a  href="javascript:void(0)" >My Profile</a></li>
                <li><a *ngIf=!islogin href="javascript:void(0);" (click)="logout()">Logout</a></li>
                <li><a *ngIf=islogin href="/login">Login</a></li>
             </ul>
            </div>
        </li>
    </ul>
</nav>
<script>
    $(document).ready(function(){
      $('.dropdown-submenu a.test').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });
    });
    </script>