/* body{
    background-color: #bdc3c7;
  
  }

    tbody{
      height:200px;
       overflow:auto;
      
      }
     thead,tbody,tr,td,th{
      display:inline-flex;
    }
      
    .example-table {
      flex: 1 1 auto;
       overflow: auto; 
      max-height: 500px;
    }
    
     .app-table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    
    .app-table-responsive.table-bordered {
      border: 0;
    }
    #collapse1{
      overflow-y:scroll;
      height:200px;   }  */
     